*{
    background-color: rgba(14,26,76,255);
}

#navbar {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 0px;
}

  #logo img {
    height: 50px;
    margin-left: 67px;
    margin-top: 0px;
  }

  #logo2 img{
    border-radius: 50%;
    height: 50px;
    float: right;
  }
  #navbar ul {
    display: flex;
  }
  
  #navbar ul li {
    color: white;
    list-style: none;
    font-size: 01.1rem
  }
  #navbar ul li a {
    color: white;
    display: block;
    padding: 1px 10px;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 10px;
    font-family: Source sans pro;
  }
  .searchbar{
    margin-left: auto;
    margin-right: 10px;
    padding: 3px;
  }
  .login{
    margin-left: auto;
    margin-right: 10px;
    padding: 3px;
  }
  .Upgrade{
    color: rgb(86, 102, 247);
    border-color: rgb(86, 102, 247);
    margin: 3px;
    border-radius: 5%;
    padding: 3px;
  }
  
  .carousel-cell {
    margin-right: 10px;
    border-radius: 5px;
    max-width: 100%;
    max-height: 100%;
  }

  .carousel-cell img{
    max-width: 100%;
    max-height: 100%;
  }